#root {
    display: flex;
}

html {
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
}

.app {
  background-color: #1d1d1d;
  display: flex;
  height: 100vh;
  padding: 0.75rem;
  width: 100vw;
  box-sizing: border-box;
}

.login {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
}

.login {
  color: white;
}

.login form {
  display: flex;
  flex-direction: column;
  width: 22rem;
}

.login form button {
  width: 100%;
}

.login form input,
.login form button {
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
}

button {
  align-self: center;
  border: none;
  color: white;
  background-color: #df001c;
  font-size: 20px;
  padding: 0.5rem 2rem;
}

button:disabled {
  background-color: #8D99AE;
}

.form-error-message {
  color: #D81F26;
}

.dashboard {
  flex: 1;
}

.team-lists {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.team-lists ul {
  list-style: none;
  padding: 0;
}

.team-lists li {
  display: flex;
  padding: 0.25rem 0;
}

.team-lists li:nth-child(even) {
  background-color: rgba(255,255,255,.05);
}

.team-lists li span {
  flex: 1;
}

.icon-button {
  display: flex;
  justify-content: center;
  margin-left: 0.5rem;
  padding: 0;
  width: 25px;
  height: 25px;
}

.accept {
  background-color: #A8C256;
}

.reject {
  background-color: #df001c;
}

.category-list {
  display: flex;
  flex-direction: column;
}

.category-list label {
  width: 100%;
  padding: 0.25rem;
  display: block;
  margin: 0.25rem 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.category-list input[type=checkbox] {
  background: none;
  border: 1px solid white;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0 0.25rem 0 0;
}

.category-list input[type=checkbox]:checked {
  background-color: white;
  outline: 3px solid #1d1d1d;
  outline-offset: -4px;
}

.category-list button {
  align-self: flex-start;
  margin-top: 1rem;
}

.button-group {
  margin-top: 1rem;
}

.team-answers ul {
  padding: 0;
  width: 50%;
}

.team-answers li {
  display: flex;;
}

.inactive.accept,
.inactive.reject {
  background-color: #8D99AE;
}